@model DataTable
@using System.Data

<div class="card-body d-flex flex-column  justify-content-center w-100">
    <h5 class="card-title fs-2 fw-bold">Order Detail</h5>
    <div class="d-flex gap-1">
        <div>
            <a asp-controller="OrderDetail" asp-action="OrderDetailAddEdit" class="btn btn-success">ADD</a>
        </div>
        <div>
            <a asp-controller="OrderDetail" asp-action="ExportToExcel" class="btn btn-success">Export</a>
        </div>
    </div>
</div>
        <div class="datatable-container mt-4">
            <table class="table datatable datatable-table">

                <thead>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>Total Amount</th>
                <th>User Name</th>
                <th colspan="2"> Actions</th>
                </thead>
                <tbody>
                    @foreach (DataRow row in Model.Rows)
                    {
                        <tr>
                            <td>@row["ProductName"]</td>
                            <td>@row["Quantity"]</td>
                            <td>@row["Amount"]</td>
                            <td>@row["TotalAmount"]</td>
                            <td>@row["UserName"]</td>
                            <td><a class="btn btn-primary" asp-controller="OrderDetail" asp-action="OrderDetailAddEDit" asp-route-OrderDetailID="@row["OrderDetailID"]"><i class="bi bi-pencil-fill"></i></a></td>
                            <td><a href="/OrderDetail/OrderDetailDelete?OrderDetailID=@row["OrderDetailID"]" class="btn btn-danger"><i class="bi-trash"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- End Table with stripped rows -->

</div>

