@model DataTable
@using System.Data

<div class="card-body">
    <h5 class="card-title">Order Detail</h5>
    <!-- Table with stripped rows -->
    <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
        <div class="datatable-top">
            <div>
                <a asp-controller="OrderDetail" asp-action="OrderDetailAddEdit" class="btn btn-success">ADD</a>
            </div>
        </div>
        <div class="datatable-container">
            <table class="table datatable datatable-table">

                <thead>
                <th>Order Detail ID</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>Total Amount</th>
                <th>User Name</th>
                <th colspan="2"> Actions</th>
                </thead>
                <tbody>
                    @foreach (DataRow row in Model.Rows)
                    {
                        <tr>
                            <td>@row["OrderDetailID"]</td>
                            <td>@row["ProductName"]</td>
                            <td>@row["Quantity"]</td>
                            <td>@row["Amount"]</td>
                            <td>@row["TotalAmount"]</td>
                            <td>@row["UserName"]</td>
                            <td><a class="btn btn-primary">EDIT</a></td>
                            <td><a href="/OrderDetail/OrderDetailDelete?OrderDetailID=@row["OrderDetailID"]" class="btn btn-danger">DELETE</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- End Table with stripped rows -->

</div>

