@model DataTable
@using System.Data

<div class="card-body d-flex flex-column  justify-content-center w-100">
    <h5 class="card-title fs-2 fw-bold">User</h5>

    <div class="w-25">
        <a asp-controller="User" asp-action="UserAddEdit" class="btn btn-success">ADD</a>
    </div>
</div>
        <div class="datatable-container mt-4">
            <table class="table datatable datatable-table">

                <thead>
                <th>User ID</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Mobile No</th>
                <th>Address</th>
                <th>isActive</th>
                <th colspan="2"> Actions</th>
                </thead>
                <tbody>
                    @foreach (DataRow row in Model.Rows)
                    {
                        <tr>
                            <td>@row["UserID"]</td>
                            <td>@row["UserName"]</td>
                            <td>@row["Email"]</td>
                            <td>@row["MobileNo"]</td>
                            <td>@row["Address"]</td>
                            <td>@row["IsActive"]</td>
                            <td><a  class="btn btn-primary" asp-controller="User" asp-action="UserAddEdit" asp-route-UserID="@row["UserID"]"><i class="bi bi-pencil-fill"></i></a></td>
                            <td><a href="/User/UserDelete?UserID=@row["UserID"]" class="btn btn-danger"><i class="bi bi-trash"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- End Table with stripped rows -->

</div>