@model DataTable
@using System.Data

<div class="card-body">
    <h5 class="card-title">User</h5>

    <!-- Table with stripped rows -->
    <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
        <div class="datatable-top">
            <div>
                <a asp-controller="User" asp-action="UserAddEdit" class="btn btn-success">ADD</a>
            </div>
        </div>
        <div class="datatable-container">
            <table class="table datatable datatable-table">

                <thead>
                <th>User ID</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Mobile No</th>
                <th>Address</th>
                <th>isActive</th>
                <th colspan="2"> Actions</th>
                </thead>
                <tbody>
                    @foreach (DataRow row in Model.Rows)
                    {
                        <tr>
                            <td>@row["UserID"]</td>
                            <td>@row["UserName"]</td>
                            <td>@row["Email"]</td>
                            <td>@row["MobileNo"]</td>
                            <td>@row["Address"]</td>
                            <td>@row["IsActive"]</td>
                            <td><a  class="btn btn-primary">EDIT</a></td>
                            <td><a href="/User/UserDelete?UserID=@row["UserID"]" class="btn btn-danger">DELETE</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- End Table with stripped rows -->

</div>