@model DataTable
@using System.Data

<div class="card-body d-flex flex-column  justify-content-center w-100">
              <h5 class="card-title fs-2 fw-bold">Product</h5>
                                
                <div class="d-flex gap-1">
                    <div >
                        <a asp-controller="Product" asp-action="ProductAddEdit" class="btn btn-success">ADD</a>
                    </div>
                    <div >
                        <a asp-controller="Product" asp-action="ExportToExcel" class="btn btn-success">Export</a>
                    </div>
                </div>
</div>
<div class="datatable-container mt-4">
    <table class="table datatable datatable-table">

       <thead>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Product Code</th>
                <th>Description</th>
                <th>User Name</th>
                <th colspan="2"> Actions</th>
       </thead>
       <tbody>
                @foreach (DataRow row in Model.Rows)
                {
                    <tr>
                            <td>@row["ProductName"]</td>
                            <td>@row["ProductPrice"]</td>
                            <td>@row["ProductCode"]</td>
                            <td>@row["Description"]</td>
                            <td>@row["UserName"]</td>
                            <td>
                                <a class="btn btn-primary btn-xs" asp-controller="Product" asp-action="ProductAddEdit" asp-route-ProductID="@row["ProductID"]">
                                    <i class="bi bi-pencil-fill"></i>
                                </a>
                            </td>
                            <td><a href="/Product/ProductDelete?ProductID=@row["ProductID"]"><i class="bi bi-trash btn btn-danger"></i></a></td>
                    </tr>
                }
                </tbody>
    </table>
</div>
</div>
              <!-- End Table with stripped rows -->

            </div>