@model DataTable
@using System.Data

<div class="card-body d-flex flex-column  justify-content-center w-100">
    <h5 class="card-title fs-2 fw-bold">Bill</h5>

    <div class="w-25">
        <a asp-controller="Bill" asp-action="BillAddEdit" class="btn btn-success">ADD</a>
    </div>
</div>
        <div class="datatable-container mt-4">
            <table class="table datatable datatable-table">

                <thead>
                <th>BillID</th>
                <th>BillNumber</th>
                <th>BillDate</th>
                <th>TotalAmount</th>
                <th>Discount</th>
                <th>NetAmount</th>
                <th colspan="2"> Actions</th>
                </thead>
                <tbody>
                    @foreach (DataRow row in Model.Rows)
                    {
                        <tr>
                            <td>@row["BillID"]</td>
                            <td>@row["BillNumber"]</td>
                            <td>@row["BillDate"]</td>
                            <td>@row["TotalAmount"]</td>
                            <td>@row["Discount"]</td>
                            <td>@row["NetAmount"]</td>
                        <td><a class="btn btn-primary" asp-action="BillAddEdit" asp-controller="Bill" asp-route-BillID="@row["BillID"]"><i class="bi bi-pencil-fill"></i></a></td>
                        <td><a href="/Bill/BillDelete?BillID=@row["BillID"]" class="btn btn-danger"><i class="bi bi-trash"></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- End Table with stripped rows -->

</div>

