@model DataTable
@using System.Data

<div class="card-body">
    <h5 class="card-title">Bills</h5>
    <!-- Table with stripped rows -->
    <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
        <div class="datatable-top">
            <div>
                <a asp-controller="Bill" asp-action="BillAddEdit" class="btn btn-success">ADD</a>
            </div>
        </div>
        <div class="datatable-container">
            <table class="table datatable datatable-table">

                <thead>
                <th>BillID</th>
                <th>BillNumber</th>
                <th>BillDate</th>
                <th>TotalAmount</th>
                <th>Discount</th>
                <th>NetAmount</th>
                <th colspan="2"> Actions</th>
                </thead>
                <tbody>
                    @foreach (DataRow row in Model.Rows)
                    {
                        <tr>
                            <td>@row["BillID"]</td>
                            <td>@row["BillNumber"]</td>
                            <td>@row["BillDate"]</td>
                            <td>@row["TotalAmount"]</td>
                            <td>@row["Discount"]</td>
                            <td>@row["NetAmount"]</td>
                            <td><a class="btn btn-primary">EDIT</a></td>
                            <td><a href="/Bill/BillDelete?BillID=@row["BillID"]" class="btn btn-danger">DELETE</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- End Table with stripped rows -->

</div>

