@model DataTable
@using System.Data

<div class="card-body">
    <h5 class="card-title">Customer</h5>
    <!-- Table with stripped rows -->
    <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
        <div class="datatable-top">
            <div>
                <a asp-controller="Customer" asp-action="CustomerAddEdit" class="btn btn-success">ADD</a>
            </div>
        </div>
        <div class="datatable-container">
            <table class="table datatable datatable-table">

                <thead>
                <th>CustomerID</th>
                <th>CustomerName</th>
                <th>HomeAddress</th>
                <th>Email</th>
                <th>MobileNo</th>
                <th>GST NO </th>
                <th>CityName</th>
                <th>PinCode</th>
                <th>NetAmount</th>
                <th>User Name</th>
                <th colspan="2"> Actions</th>
                </thead>
                <tbody>
                    @foreach (DataRow row in Model.Rows)
                    {
                        <tr>
                            <td>@row["CustomerID"]</td>
                            <td>@row["CustomerName"]</td>
                            <td>@row["HomeAddress"]</td>
                            <td>@row["Email"]</td>
                            <td>@row["MobileNo"]</td>
                            <td>@row["GSTNO"]</td>
                            <td>@row["CityName"]</td>
                            <td>@row["PinCode"]</td>
                            <td>@row["NetAmount"]</td>
                            <td>@row["UserName"]</td>
                            <td><a class="btn btn-primary">EDIT</a></td>
                            <td><a class="btn btn-danger">DELETE</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- End Table with stripped rows -->

</div>

